:root {
  --violet: #5c48d3;
}
/* Header */
.header {
  display: flex;
  align-items: center;
  padding: 50px 60px;
  border-bottom: 1px solid #e5e5e5;
}
.header .svg-inline--fa {
  color: var(--violet);
  font-size: 80px;
  margin-right: 40px;
}
h1 {
  font-size: 48px;
  line-height: 59px;
}

/* Footer */
.footer {
  color: var(--violet);
  display: flex;
  justify-content: center;
  margin-top: 20vh;
}
span {
  font-weight: bold;
}

/* Main */
.main {
  margin-top: 15vh;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}
.violet-btn {
  background-color: var(--violet);
  color: white;
  font-size: 22px;
  line-height: 27px;
  border: none;
  border-radius: 10px;
  padding: 18px 16px;
  margin-left: 57px;
}

/* input */
.input-task {
  background: #f2f7fd;
  border: 1px solid var(--violet);
  box-sizing: border-box;
  border-radius: 10px;
  padding: 20px 25px;
  font-size: 24px;
  line-height: 29px;
  color: #a8a8a8;
}
.input-task:active,
.input-task:focus {
  color: black;
}

/* task list */
.task__list {
  margin-bottom: 5vh;
  font-size: 24px;
  display: flex;
}
.checkbox {
  width: 24px;
  cursor: pointer;
  margin-right: 20px;
}
.task__list--item {
  margin-left: 10px;
  margin-right: 20px;
}
