:root {
  --violet: #5c48d3;
  --darkbackground: #242d41;
  --darkbody: #010920;
  --darkcheckbox: #4a5264;
  --darkfont: #fff;
  --inputgray: #a8a8a8;
  --lightsecondary: #f2f7fd;
  --switchWidth: 62px;
  --switchHeight: 31px;
  --sliderRadius: 29px;
  --disabledSwitch: #919191;
  --disabledSlider: #d2d1d1;
  --checkedSwitchRed: #f2f7fd;
  --checkedSliderRed: #5c48d3;
}
/* fonts */
.header .svg-inline--fa {
  font-size: 3.2em;
}
h1 {
  font-size: 2.5em;
}
.violet-btn,
label,
.input-task {
  font-size: 1.2em;
}
/* Icons */
.svg-inline--fa {
  color: var(--violet);
}
/* dark-light mode */
.dark {
  background-color: var(--darkbackground);
  color: var(--darkfont);
}
.list__light {
  background-color: var(--lightsecondary);
}
.list__dark {
  background-color: var(--darkbody);
}
/* App */
.app {
  height: 100vh;
}
.container {
  padding: 0 8vw;
}
/* Header */
.header {
  padding: 2vh 0;
  border-bottom: 1px solid #e5e5e5;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  display: flex;
  align-items: center;
}
.header .svg-inline--fa {
  margin-right: 30px;
}

/* Header -- toggle button */
.toggle__button {
  position: relative;
}
.switch {
  width: var(--switchWidth);
  height: var(--switchHeight);
  border-radius: 15px;
  background-color: var(--disabledSwitch);
  border: none;
  transition: all 0.5s ease;
}

.slider {
  position: absolute;
  left: 1px;
  bottom: 1px;
  background-color: var(--disabledSlider);
  width: var(--sliderRadius);
  height: var(--sliderRadius);
  border-radius: 50%;
  border: none;
  box-shadow: 6px 6px 21px -5px rgba(0, 0, 0, 0.61);
  transition: all 0.5s ease;
}
.toggle__button .fa-moon,
.toggle__button .fa-sun {
  font-size: 20px;
  position: relative;
  bottom: 0;
  left: 4px;
}
.toggle__button .fa-moon {
  color: var(--violet);
}
.toggle__button .fa-sun {
  color: #fff;
}

.slider-light {
  background-color: var(--checkedSliderRed);
  transform: translateX(calc(var(--switchWidth) - var(--sliderRadius)));
}

.switch-light {
  background-color: var(--checkedSwitchRed);
}
/* Footer */
.footer {
  color: var(--violet);
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}
span {
  font-weight: bold;
}

/* Buttons */
.violet-btn {
  background-color: var(--violet);
  color: white;
  line-height: 27px;
  border: none;
  border-radius: 10px;
  padding: 16px 14px;
  margin-left: 7vw;
}

/* Main */
.main {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* input */
.main__input {
  margin-bottom: 5vh;
  width: 100%;
}
label {
  margin-right: 12px;
}
.input-task {
  background: var(--lightsecondary);
  border: 1px solid var(--violet);
  box-sizing: border-box;
  border-radius: 10px;
  padding: 20px 2vw;
  color: var(--lightgray);
}
.input-task:active,
.input-task:focus {
  color: black;
}

/* task list */
.list {
  width: 80%;
  border-radius: 8px;
  padding: 0 5vw;
  margin-bottom: 5vh;
}
.task {
  margin: 3vh 0;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task__left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.task--item {
  margin: 1vh 1vw;
}
.task .svg-inline--fa:hover {
  cursor: pointer;
}

/* Complete tasks */
.done {
  text-decoration: line-through;
}
.completeTasks {
  display: flex;
  flex-direction: column;
}
